#container {
width: 800px;
height: 860px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;

}
#header {
height: 125px;
background-color: #CCC; 
border:2px solid black;
background-image: url('../img/Lovely_Professional_University_logo.png');
background-repeat: no-repeat;
background-size: 120px 120px;
}
#sidebar {
width: 325px;
height: 600px;
background-color: white;
border: 2px solid black;
font-family: sans-serif;
float: left;
}
#attendence {
width: 1250px;
height: 210px;
background-color:  #FFFAF0;
border:2px solid black;
float: right;
}
#announcement {
width: 946px;
height: 230px;
background-color: #FFFAF0;
float: right;
border:2px solid black;
}
#timetable {
width: 1250px;
height: 210px;
background-color: #FFF8DC;
float: right;
border:2px solid black;
}
#leave {
width: 300px;
height: 230px;
background-color: #FFF8DC;
float: right;
border:2px solid black;

}

#footer {
height: 35px;
background-color: #FF6347;
border:2px solid black;
margin: 0;
padding: 0;
display:block;
clear: both;
}

